:root{
--bg:#eef2f7;
--card:#ffffff;
--text:#1f2937;
--primary:#2563eb;
--success:#16a34a;
--danger:#dc2626;
--border:rgba(10, 10, 10, 0.301);
--shadow:0 10px 25px rgba(0,0,0,0.08);
}

.dark{
--bg:#0f172a;
--card:#1e293b;
--text:#f1f5f9;
--primary:#3b82f6;
--success:#22c55e;
--danger:#ef4444;
--border:rgba(255, 255, 255, 0.37);
--shadow:0 10px 25px rgba(0,0,0,0.4);
}

body{
margin:0;
font-family:'Segoe UI',sans-serif;
background:var(--bg);
color:var(--text);
transition:0.3s;
}

.container{
max-width:520px;
margin:auto;
padding:20px;
min-height:100vh;
}

h1{
text-align:center;
margin-bottom:35px;
letter-spacing:0.5px;
}

.top-bar{
display:flex;
justify-content:flex-end;
margin-bottom:10px;
}

button{
padding:10px 14px;
border-radius:25px;
border:1px solid var(--border);
font-weight:600;
cursor:pointer;
background:var(--primary);
color:white;
margin:4px;
transition:0.2s;
box-shadow:var(--shadow);
}

button:hover{
transform:translateY(-2px);
opacity:0.9;
}

.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:10px;
margin-bottom:15px;
}

input{
padding:12px;
border-radius:14px;
border:2px solid var(--border);
background:var(--card);
color:var(--text);
box-shadow:var(--shadow);
outline:none;
transition:0.2s;
}

input:focus{
border:1px solid var(--primary);
box-shadow:0 0 0 3px rgba(37,99,235,0.15);
}

.cards{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
margin-bottom:10px;
}

.card{
padding:18px;
border-radius:22px;
text-align:center;
font-weight:600;
box-shadow:var(--shadow);
border:1px solid var(--border);
transition:0.3s;
}

.green{
background:linear-gradient(135deg,var(--success),#34d399);
color:white;
border:none;
}

.red{
background:linear-gradient(135deg,var(--danger),#f87171);
color:white;
border:none;
}

.progress-container{
height:18px;
background:rgba(0,0,0,0.05);
border-radius:30px;
margin-top:10px;
overflow:hidden;
border:1px solid var(--border);
}

.dark .progress-container{
background:rgba(255,255,255,0.1);
}

.progress-bar{
height:100%;
width:0%;
border-radius:30px;
transition:0.4s ease;
}

.chart-container{
margin-top:20px;
background:var(--card);
padding:20px;
border-radius:25px;
box-shadow:var(--shadow);
border:1px solid var(--border);
}